<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Tags</title>
    </head>

    <body>

        <h1>Etiquetas Faltantes</h1>
        <form method="POST" action="/cargar">
            <input name="rutaJson" value=<%=rutaJson%> type="hidden">
			<input name="rutaDocx" value=<%=rutaDocx%> type="hidden">
            	<% for (var i = 0; i < propiedad.length; ++i) { %>
	                <label> <%= propiedad[i].replace(/_/g, " ") %> </label>
	                <input type="text" name=<%=propiedad[i] %> >
	                <br>
                <% } %>
            <input type="submit" value="Llenar">
            <a href="/upload">Cancelar</a>
        </form>

    </body>

</html>
