<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Inicio</title>
	</head>

	<body>
		<h3>Subir archivos</h3>

		<form action="/upload" enctype="multipart/form-data" method="post">
			<label>Documento de Word:</label>
			<br>
			<input type="file" name="docx" multiple="multiple">
			<br>
			<br>
			<label>Archivo Json:</label>
			<br>
			<input type="file" name="json" multiple="multiple">
			<br>
			<br>
			<input type="submit" value="Subir">
		</form>

	</body>

</html>
